@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #211814;
  --bauhaus-red-color: #ff6641;
  --bauhaus-blue-color: #236df6;
  --bauhaus-yellow-color: #fed132;
}

:root.dark {
  --background: #211814;
  --foreground: #f9f9f9;
  --bauhaus-red-color: #c0373e;
  --bauhaus-blue-color: #254ea6;
  --bauhaus-yellow-color: #dcc574;
}

body {
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-bauhaus), Arial, Helvetica, sans-serif;
}
