@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #211814;
  --bauhaus-red-color: #ff6641;
  --bauhaus-blue-color: #236df6;
  --bauhaus-yellow-color: #fed132;
  --background-image: url('../svgs/bauhaus-light.svg');
}

:root.dark {
  --background: #211814;
  --foreground: #f9f9f9;
  --bauhaus-red-color: #c0373e;
  --bauhaus-blue-color: #254ea6;
  --bauhaus-yellow-color: #dcc574;
  --background-image: url('../svgs/bauhaus-dark.svg');
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bauhaus-red-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bauhaus-blue-color);
}

body {
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  font-family: var(--font-bauhaus), Arial, Helvetica, sans-serif;
}

@layer components {
  .searchInput {
    @apply w-full h-full px-3 py-1 border-4 border-double border-foreground bg-background outline-none;
  }
  .clearSearchBtn {
    @apply absolute right-1 bottom-1 h-[80%] aspect-square rounded-l-full bg-redhaus text-background font-bold hover:bg-bluehaus;
  }
}
